extends layout

block content
  div(class="main" id="home")
    div(class="main-content")
      div(class="inner")
        h2(class="wow fadeIn text-normal") Jake Macek
        h5(class="wow fadeIn text-normal") Developer | Knowledge Enthusiast | Human
        h6(class="wow fadeIn text-normal") Welcome to my website!
        nav(class="page-scroll")
          a(href="#aboutme", class="btn btn-primary-outline btn-xl wow fadeInUp") About me
  div(class="aboutme" id="aboutme")
    div(class="aboutme-content wow fadeInUp")
      div(class="inner")
        h5 Test
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br