extends layout

block content
  div(class="main")
    div(class="main-content")
      div(class="inner")
        h2 Jake Macek
        h5 Developer | Knowledge Enthusiast | Human
        h6 Welcome to my website!
