extends layout

block content
  include index/main
  include index/aboutme
  include index/projects
  //include index/webapps
  //include index/technologies
  //include index/coolwebsites
  //include index/contact

  include footer