div(class="aboutme margin-bottom content-div" id="aboutme")
    div(class="aboutme-content wow fadeInUp")
        div(class="col-lg-8 col-lg-offset-2 text-center")
            h2(class="section-heading") About me
            hr(class="light")
            p(class="text-faded")
                | I have a bachelor's degree at Kansas State University in Information Systems.
                br
                | I am currently seeking a full time position in the field of IT
                br
                br
                | I'm currently working as a Student Java Applications Developer for Kansas State University, doing Web Application Development, and Automated Testing; among other things.
                br
                | I have previously worked as an IT Consultant for K-States' Central IT Department.
                br
                | I also have work experience as a System Administrator at KSU, and for my own Website (this one) which is hosted using Node JS on a Cloud Hosting
                br
                | Solution managed by Linode, in which I use a headless OpenSUSE server to host this website.
                br
                br
                | My hobbies include learning new things, and making projects that I think would be fun.
                br
                | I enjoy knowledge as a whole and indulging myself in learning new and interesting things.
                br
                br
            nav(class="page-scroll")
                a(href="#projects", class="btn btn-primary-outline btn-xl wow fadeInUp") My Projects