div(class="aboutme content-div" id="aboutme")
    div(class="aboutme-content wow fadeInUp")
        div(class="col-lg-8 col-lg-offset-2 text-center")
            h2(class="section-heading") About me
            hr(class="light")
            p(class="text-faded")
                | I'm currently an undergraduate student at Kansas State University, set to graduate in December 2016 with a degree in Information Systems.
                br
                | I am currently seeking a full time position for after I graduate.
                br
                br
                | I'm currently working as a Student Java Applications Developer for Kansas State University, doing Web Application Development, and Automated Testing; among other things.
                br
                | I have previously worked as an IT Consultant for K-States' Central IT Debarment.
                br
                | I also have work experience as a System Administrator at KSU, and for my own Website (this one) which is hosted using Node JS on a Cloud Hosting
                br
                | Solution managed by Linode, in which I use a headless OpenSUSE server to host this website.
                br
                br
                | My hobbies include learning new things, and making projects that I think would be fun.
                br
                | I enjoy knowledge as a whole and indulging myself in learning about things I never knew before.
                br
                | I also enjoy video games, as well as making them; just for fun though, I'm a terrible artist.
                br
                br
            nav(class="page-scroll")
                a(href="#projects", class="btn btn-primary-outline btn-xl wow fadeInUp") My Projects