div(class="projects" id="projects")
    div(class="projects-content")
        h1 Projects
        hr(class="light")
        div(class="col-xs-3 col-centered col-max")
            a(href="https://github.com/Jmacek/CIS526-TeamProject" target="_blank")
                span
                    div(class="item")
                        div(class="content")
                            h5 Typing War
                            p This is a project me and some teammates worked on for Web Interface Design
        div(class="col-xs-3 col-centered col-max disabled")
            a(href="#")
                span
                    div(class="item")
                        div(class="content")
                            h5 Work in Progress
                            p I have to think of a project to put here, right now this is just a placeholder
        div(class="col-xs-3 col-centered col-max")
            a(href="#" class="disabled")
                span
                    div(class="item")
                        div(class="content")
                            h5 Work in Progress
                            p I have to think of a project to put here, right now this is just a placeholder
        div(class="col-xs-3 col-centered col-max")
            a(href="#" class="disabled")
                span
                    div(class="item")
                        div(class="content")
                            h5 Work in Progress
                            p I have to think of a project to put here, right now this is just a placeholder