div(class="projects content-div" id="projects")
    div(class="projects-content")
        h1 Projects
        hr(class="light")

        div(class="col-xs-3 col-centered col-min")
            a(href="https://github.com/Jmacek/ZeldAI" target="_blank")
                span
                    div(class="item")
                        div(class="content ZeldAI")
                            h5 Legend of Zelda AI
                            p An AI that plays the original Legend of Zelda (NES) using Lua scripting and the FCEUX emulator.
        div(class="col-xs-3 col-centered col-min")
            a(href="https://github.com/Jmacek/CIS526-TeamProject" target="_blank")
                span
                    div(class="item")
                        div(class="content TypingWar")
                            h5 CIS 526 Project
                            p A competitive typing game with a twist! Built with in-house user authentication, Node JS, and Websockets for communication.