div(class="projects content-div" id="projects")
    div(class="projects-content")
        h1 Projects
        hr(class="light")
        div(class="col-xs-3 col-centered col-min")
            a(href="https://github.com/Jmacek/CIS526-TeamProject" target="_blank")
                span
                    div(class="item")
                        div(class="content")
                            h5 Typing War
                            p A competitive typing game with a twist! Built with in-house user authentication, Node JS, and Websockets for communication.
        div(class="col-xs-3 col-centered col-min")
            a(href="#" class="disabled")
                span
                    div(class="item")
                        div(class="content")
                            h5 Work in Progress
                            p I have to think of a project to put here, right now this is just a placeholder
        div(class="col-xs-3 col-centered col-min")
            a(href="#" class="disabled")
                span
                    div(class="item")
                        div(class="content")
                            h5 Work in Progress
                            p I have to think of a project to put here, right now this is just a placeholder
        div(class="col-xs-3 col-centered col-min")
            a(href="#" class="disabled")
                span
                    div(class="item")
                        div(class="content")
                            h5 Work in Progress
                            p I have to think of a project to put here, right now this is just a placeholder