/*TODO: organize this shit*/

html, body{
  margin: 0;
  height: 100%;
}
body {
  padding: 50px 25px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/green_cup.png');
}
.main-nav-scrolled{
  position: fixed;
  width: calc(100% - 50px);
  top: 0;
}
.footer{
  text-align: center;
}
.main-nav{
  margin-bottom: -50px;
  z-index: 150;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.main-content{
  height: 100%;
  width: 100%;
  display: table;
  padding: 1em 1em 1em 1em;
  margin:0;
  z-index: 2;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding:0;margin:0;
  width: 100%;
  height: 100%;
}
.main {
  background: #D2C5B0;
  padding: 110px 0 50px 0;
  opacity: 0.8;
  min-height: 325px;
  margin-bottom: 75px;
  width: 100%;
  height: 100%;
}
.btn {
  border: 1px solid transparent;
}
.projects {
  background: #D2C5B0;
  opacity: 0.8;
  padding: 110px 25px 50px 25px;
  text-align: center;
}
.col-min {
  min-width:320px;
  min-height:120px;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
.item {
  width:100%;
  height:100%;
  border:1px solid #cecece;
  padding:16px 8px;
  background:#ededed;
  background:-webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background:-moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background:-ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
/* content styles */
.item {
  display:table;
}
.content {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.content:before {
  /*content:"Project";*/
  font-family:sans-serif;
  font-size:12px;
  letter-spacing:1px;
  color:#747474;
}
.projects h1{
  text-align: center;
}
.btn-primary-outline {
  border-color: #2c3e50;
  color: #2c3e50;
}
.projects span {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
.projects a {
  color: #8291b2;
}
.btn-xl {
  padding: 15px 30px;
  font-size: 15px;
}
a {
  transition: all .43s;
}
.projects .disabled {
  pointer-events: none;
  cursor: default;
}
/* These need to be in this specific order */
.btn:link {
  color: #2c3e50;
}
.btn:visited {
  color: #2c3e50;
}
.btn:hover{
  color: #ffffff;
  background: #2c3e50 none;
}
.btn:active{
  color: #ffffff;
}
.aboutme{
  color: bisque;
  display: table;
  width: 100%;
  height: 100%;
  padding: 1em 1em 1em 1em;
  background-color: #5F7286;
  opacity: 0.75;
  min-height: 325px;
  margin-bottom: 75px;
}
.aboutme .aboutme-content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.section-heading{
  margin-top: 0;
}
hr.light{
  border-color: #0f0f0f;
}
hr {
  max-width: 50px;
  border-width: 3px;
}
.text-faded{
  color: antiquewhite;
  line-height: 200%;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-device-width: 480px) {
  body{
    padding: 50px 10px 0 !important;
  }
  .main-nav-scrolled {
    width: calc(100% - 20px) !important;
  }
  html,body,.main,.main-content,.inner,.aboutme {
    height: auto !important;
  }
}
